p {
    margin: auto;
    text-align: justify;
    font-family: Helvetica, Arial, sans-serif;
    width: 50%;
    font-size: 16px;
    font-weight: 700px;
    line-height: 24px;
    letter-spacing: 2px;
}